<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="/layout/layout" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.ultraq.net.nz/web/thymeleaf/layout ">
<head>
    <title>流程定义列表</title>
</head>
<body>
<div layout:fragment="content">
    <div class="admin-content-body">
        <div class="am-cf am-padding am-padding-bottom-0">
            <div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">流程管理</strong> /
                <small>流程定义</small>
            </div>
        </div>

        <div class="am-g">
            <div class="am-u-sm-12 am-u-md-9">
                <div class="am-btn-toolbar">
                    <div class="am-btn-group am-btn-group-xs">
                        <button type="button" class="am-btn am-btn-default"><span class="am-icon-plus"></span> 导入压缩文件
                        </button>
                    </div>
                </div>
            </div>

            <div class="am-u-sm-12 am-u-md-3">
                <div class="am-input-group am-input-group-sm">
                    <input type="text" class="am-form-field" title="搜索框">
                    <span class="am-input-group-btn">
                        <button class="am-btn am-btn-default" type="button">搜索</button>
                    </span>
                </div>
            </div>
        </div>

        <div class="am-g">
            <div class="am-u-sm-12">
                <form class="am-form">
                    <table class="am-table am-table-striped am-table-hover table-main ">
                        <thead>
                        <tr>
                            <td width="15%">ID</td>
                            <td width="5%" nowrap="false">KEY</td>
                            <td width="5%" class="am-hide-sm-only">部署id</td>
                            <td width="15%">NAME</td>
                            <td width="50%" class="am-hide-sm-only">图片</td>
                            <td width="10%">OPTS</td>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:if="${#lists.isEmpty(processes)} ">-->
                            <td colspan="6">No messages</td>
                        </tr>
                        <tr th:each="process:${processes}">
                            <!--/*@thymesVar id="process" type="org.activiti.engine.repository.ProcessDefinition"*/-->
                            <td th:text="${process.id}"></td>
                            <td th:text="${process.deploymentId}"></td>
                            <td class="am-hide-sm-only" th:text="${process.key}"></td>
                            <td th:text="${process.name}"></td>
                            <td class="am-hide-sm-only"><a target="_blank"
                                                           th:href="@{'/activiti/read-resource?pdid=' + ${process.id} + '&resourceName=' + ${process.diagramResourceName}}">
                                <span th:text="${process.diagramResourceName}"></span>
                            </a>
                            </td>
                            <td>
                                <div class="am-btn-toolbar">
                                    <div class="am-btn-group am-btn-group-toolbar">
                                        <button type="button" th:onclick="'start(\''+${process.id}+'\')'"
                                                class="am-btn am-btn-default am-btn-xs"><span
                                                class="am-icon-pencil-square-o"></span>启动
                                        </button>
                                        <button type="button" th:onclick="'_delete('+${process.deploymentId}+')'"
                                                class="am-btn am-btn-default am-btn-xs am-text-danger"><span
                                                class="am-icon-trash-o"></span>删除
                                        </button>
                                    </div>
                                </div>
                                <!--<a th:href="@{'/activiti/process/start/' + ${process.id}}">启动</a>-->
                                <!--<a th:href="@{'/activiti/processes/delete/' + ${process.deploymentId}}">删除</a>-->
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <div class="am-cf">
                        共 15 条记录
                        <div class="am-fr">
                            <ul class="am-pagination">
                                <li class="am-disabled"><a href="#">«</a></li>
                                <li class="am-active"><a href="#">1</a></li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li><a href="#">4</a></li>
                                <li><a href="#">5</a></li>
                                <li><a href="#">»</a></li>
                            </ul>
                        </div>
                    </div>
                    <hr/>
                    <p>注：.....</p>
                </form>
            </div>
        </div>

    </div>


</div>
<th:block layout:fragment="script">
    <script>
        function start(id) {
            window.location.href = "/activiti/process/start/" + id;
        }
        function _delete(id) {
            window.location.href = "/activiti/processes/delete/" + id;
        }
    </script>
</th:block>
</body>
</html>