<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorate="/layout/layout">
<head>
    <title>任务列表</title>
</head>
<body>
<div layout:fragment="content">

    <div>
        <div class="tpl-content-page-title">
            activiti流程管理
        </div>
        <ol class="am-breadcrumb">
            <li><a href="#">首页</a></li>
            <li><a href="#">流程管理</a></li>
            <li class="am-active">任务列表</li>
        </ol>
    </div>



    <div class="tpl-portlet-components">

        <div class="am-g">
            <div class="am-u-sm-12">
                <form  role="form" class="am-form">
                    <table class="am-table am-table-hover am-table-striped table-main">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>NAME</th>
                            <th>OPTS</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:if="${#lists.isEmpty(tasks)}">
                            <td colspan="3">
                                No messages
                            </td>
                        </tr>
                        <tr th:each="task : ${tasks}">
                            <!--/*@thymesVar id="task" type="org.activiti.engine.task.Task"*/-->
                            <td th:text="${task.id}"></td>
                            <td th:text="${task.name}"></td>
                            <td>
                                <a th:href="@{'/activiti/task/complete/' + ${task.id}}">完成</a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </form>
            </div>
        </div>
    </div>



    </div>
</body>
</html>